<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    form {
    margin-left:10rem;
    width:70%;
    border: 1px solid black;
    border-radius:10px;
    }

    .form-input {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 92%;
    text-align:left;
    }

    .form-input input{
    background-color: #e8f0fe;
    }
</style>
<body>
    <center>
        <form action="." method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Đăng ký"/>
        </form>
    </center>
</body>
</html>
